---
import IconChevronsRight from '~/icons/chevrons-right.svg'
import IconChevronsLeft from '~/icons/chevrons-left.svg'
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { getSortedDevlogs } from '~/utils'
import DividerText from '~/components/DividerText.astro'
import { getCollection, render, type CollectionEntry } from 'astro:content'
import ScrollUpButton from '~/components/ScrollUpButton.astro'
import ChevronsRight from '~/icons/chevrons-right.svg'
import { getDevlogSequenceContext } from '~/utils'
import DevlogPreview from '~/components/DevlogPreview.astro'

export const getStaticPaths = (async () => {
  const posts = await getSortedDevlogs()
  return posts.map((post) => {
    // Get sequence context for the post
    const { prev, next } = getDevlogSequenceContext(post, posts)
    return {
      params: { slug: post.id },
      props: { post, prev, next },
    }
  })
}) satisfies GetStaticPaths

const { post, prev, next } = Astro.props
const postData = post.data
const { headings, Content: PostContent } = await render(post)
const addendum = await getCollection('addendum')
let AddendumContent
let addendumAvatarImage
if (addendum.length > 0) {
  const addendumEntry = addendum[0]
  const { Content } = await render(addendumEntry)
  AddendumContent = Content
  addendumAvatarImage = addendumEntry.data.avatarImage
}

const sortedPosts = await getSortedDevlogs()

// Get series posts if this post is part of a series
let nextPostInSeries: CollectionEntry<'devlog'> | undefined
const samePage = Astro.url.pathname === `/devlog/${post.id}`
const nextDevlogLink = `/devlog/${next?.id}`
const prevDevlogLink = `/devlog/${prev?.id}`
---

<Layout title={postData.title} description={postData.description} tags={postData.tags}>
  <article class="max-w-full py-7.5" data-pagefind-body>
    <div class="md:mx-2">
      <h1 id={post.id} class="mb-4 text-[1.75rem] text-heading1 font-semibold">
        # {postData.title}
      </h1>
    </div>
    <hr class="border-accent/10 border-2 rounded-xl hidden lg:block" />
    <div class="flex flex-col xl:gap-1 2xl:gap-18 xl:flex-row xl:items-start">
      <div class="mb-5 xl:min-w-full 2xl:min-w-full prose">
        <PostContent />
      </div>
    </div>
  </article>
  {
    nextPostInSeries && (
      <a
        href={`/devlog/${nextPostInSeries.id}`}
        class="button justify-center -mt-8 mb-8 !whitespace-normal text-center flex gap-2 sm:gap-3 items-center"
      >
        <span>Next: {nextPostInSeries.data.title}</span>
        <ChevronsRight class="size-5 hidden sm:block" />
      </a>
    )
  }
  {
    (
      <section class="flex mt-8">
        {prev && (
          <a href={prevDevlogLink} class="button flex items-center">
            <IconChevronsLeft class="size-5 mr-2" />
            prev
          </a>
        )}

        {next && (
          <a
            href={nextDevlogLink}
            class={`button flex items-center ${prev ? 'ml-auto' : ''}`}
          >
            next
            <IconChevronsRight class="size-5 ml-2" />
          </a>
        )}
      </section>
    )
  }
  <ScrollUpButton />
</Layout>
